@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,200;0,300;1,300;1,400;1,500&display=swap');


:root{
    --pink:#EE0548;
    --black:#130f40;


}

*{
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.2s linear;
    text-transform: capitalize;
}

*::selection{
    background:var(--pink);
    color:#fff;
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0; left: 0;right: 0;
    z-index: 1000;
    background: var(--pink);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
section{
    padding: 3rem 9%;
}
body{
    background:var(--black);
}

.heading{
    padding-bottom: 2rem;
    text-align: center;
}

.heading h1{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 1rem ;
    text-transform: uppercase;
}

.header .logo{
    font-size: 2.0rem;
    color: #fff;
    font-weight: bolder;

}

.header .navbar a{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2rem;

}

.header .navbar a:hover{
    color: var(--black);
}

#menu-bar{
    font-size: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border:0.1rem solid #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../midias/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.home .content span{
    font-size: 3rem;
    color: var(--pink);
}

.home .content h3{
    font-size: 4rem;
    color: var(--black);
    width: 60rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border:0.2rem solid var(--black);
    color: var(--black);
    font-size: 1rem;
    padding: 0.7rem 3rem;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--pink);
    background-color: var(--pink);
    color: #fff;

}

.step-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.step-container .step{
    background-color: #fff;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.9);
    text-align: center;
    flex: 1 1 20rem;
}

.step-container .step span{
    font-size: 3rem;
    color: var(--pink);
    font-weight: bolder;

}

.step-container .step h3{
    font-size: 2rem;
    color: var(--black);
   
    
}

.step-container .step h3{
    font-size: 1rem;
    color: #666;
   
    
}


.vendor .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.vendor .box-container .box{
    flex: 1 1 20rem;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.9);
    height: 20rem;


}

.vendor .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vendor .box-container .box .info{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    transform: scale(1.2);
    opacity: 0;


}

.vendor .box-container .box:hover .info{
    transform: scale(1);
    opacity: 1;
}

.vendor .box-container .box:hover  img{
    transform: scale(1.2);
}

.vendor .box-container .box .info h3{
    font-size: 2rem;
    color: var(--black);
}

.vendor .box-container .box .info p{
    font-size: 1rem;
    color:#666;
    padding: 1rem ;
}


.clients .row{
    display: flex;

}

.clients .row .box-container .box{
    pad: 1rem 0;
}

.clients .row .box-container .box .info{
    padding: 2rem;
}
.clients .row .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    border:2rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.9);

}

.clients .row .box-container .box .info h3{
    font-size: 2rem;
    color:#eee;
}

.clients .row .box-container .box .info p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
    font-size: italic;

}

.clients .row .box-container .box .info p i{
    color: var(--pink);
    padding: 0 0.5rem;
}

.team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team .box-container .box{
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.9);
    padding: 3rem 2rem;
    text-align: center;
    background-size: cover;
    flex: 1 1 20rem;
    background: #fff;
}

.team .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
}

.team .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
}

.team .box-container .box span{
    font-size: 2rem;
    color: var(--pink);
}


.team .box-container .box p{
    font-size: 1rem;
    color:#666;
    padding: 1rem 0;
    line-height: 2;
}

.team .box-container .box .share{
    padding: 1rem 0;
}

.team .box-container .box .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: var(--black);
    background: #eee;
}

.team .box-container .box .share a:hover{
    color: #eee;
    background: var(--pink);
}


.contact form{
    padding:2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5 1rem rgba(0,0,0,0.9);
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    border: 0.1rem solid rgba(0,0,0,0.1);
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    text-transform: none;
    color: #333;

}
.contact form .inputBox input{
    width: 49%;
}

.contact textarea{
    height:15rem;
    width: 100%;
    resize: none;
}

.contact form .inputBox input::placeholder,
 .contact form textarea::placeholder{
    text-transform: none;
 }

 .contact form .inputBox input:focus,
 .contact form textarea:focus{
   border-color:var(--pink);
 }

 .blog .blog-slider .box{
    margin: 2rem 0;
    width: 25rem;
    border: var(--border);
}

.blog .blog-slider .box .image{
    height: 20rem;
    width: 100%;
    overflow: 100%;
}

.blog .blog-slider .box:hover{
    border: var(--border-hover);
}

.blog .blog-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog .blog-slider .box:hover .image img{
    transform: scale(1);
}

.blog .blog-slider .box .content{
    padding: 1.5rem;
    background-color: #fff;

}

.blog .blog-slider .box .content h3{
    font-size: 1.3rem;
    color: var(--black);
  
}

.blog .blog-slider .box .content p{
    font-size: 1.0rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
  
}

.blog .blog-slider .box .content a{
    width: 40%;
    padding: 0.7rem;
    margin-left:5rem ;
}



.footer{
    background-color: var(--black);
}
.footer .box-container {
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
    justify-content: space-between;
   
}

.footer .box-container .box{
    font-size: 1.3rem;
    color: var(--black);
    padding: 1rem 0;
}


.footer .box-container .box a{
    display: block;
    font-size: 1rem;
    color: var(--pink);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--pink);
    padding-right: 0.5rem;
}


.footer .box-container .box a:hover i{
   
    padding-right: 0.5rem;
}

.footer .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2.0rem;
    color: #fff;
    background-color:var(--pink);
    margin: 0 0.3rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    
   
    
}

.footer .share a:hover{
    background:#666;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
    
    
}

.footer .share h3{
    font-size: 2rem;
    color: var(--pink);
}

.footer .box-container h3{
    font-size: 2rem;
    color: var(--pink);
}
















@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}


@media (max-width:991px){
    header{
        padding: 2rem 4%;
    }

    section{
        padding: 3rem 4%;
    }
}

@media (max-width:768px){
    #menu-bar{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;left: 0;
        right: 0;
        background-color: var(--black);
        padding: 2rem 0;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    .header .navbar.nav-toggle{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);

    }

    .header .navbar a{
        display: block;
        background: #fff;
        border-radius: 0.5rem;
        color: var(--black);
        margin:1rem 0;
        padding: 1rem 2rem;
        font-size: 2.5rem;


    }

    .home{
        justify-content: center;
        background-position: left;

    }

    .home .content{
        text-align: center;

    }

    .home .content span{
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
        width: auto;
    }

    .contact form .inputBox input{
        width: 100%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
